container_commands:
  # 02_artisan_migrate:
  #   command: "php artisan migrate --force"
  #   cwd: "/var/app/staging"
  #   leader_only: true
  03_artisan_config_cache:
    command: "php artisan config:cache"
    cwd: "/var/app/staging"
  04_artisan_route_cache:
    command: "php artisan route:cache"
    cwd: "/var/app/staging"
  05_artisan_view_cache:
    command: "php artisan view:cache"
    cwd: "/var/app/staging"
  06_storage_link:
    command: "php artisan storage:link"
    cwd: "/var/app/staging"
    ignoreErrors: true
  07_set_permissions:
    command: |
      chown -R webapp:webapp /var/app/staging/storage
      chown -R webapp:webapp /var/app/staging/bootstrap/cache
      chmod -R 775 /var/app/staging/storage
      chmod -R 775 /var/app/staging/bootstrap/cache
    cwd: "/var/app/staging"