files:
  "/etc/nginx/conf.d/01_laravel.conf":
    mode: "000644"
    owner: root
    group: root
    content: |
      client_max_body_size 256M;
      
      location / {
          try_files $uri $uri/ /index.php?$query_string;
      }
      
      location ~ \.php$ {
          fastcgi_split_path_info ^(.+\.php)(/.+)$;
          fastcgi_pass unix:/var/run/php-fpm/www.sock;
          fastcgi_index index.php;
          include fastcgi_params;
          fastcgi_param SCRIPT_FILENAME $document_root$fastcgi_script_name;
          fastcgi_param PATH_INFO $fastcgi_path_info;
          fastcgi_read_timeout 600;
          fastcgi_send_timeout 600;
      }
      
      location ~ /\.ht {
          deny all;
      }
      
      location ~ /\. {
          deny all;
      }