files:
  "/opt/elasticbeanstalk/tasks/bundlelogs.d/laravel.conf":
    mode: "000644"
    owner: root
    group: root
    content: |
      /var/app/current/storage/logs/*.log

container_commands:
  09_create_log_dir:
    command: |
      mkdir -p /var/app/staging/storage/logs
      touch /var/app/staging/storage/logs/laravel.log
      chown -R webapp:webapp /var/app/staging/storage/logs
      chmod -R 775 /var/app/staging/storage/logs
    cwd: "/var/app/staging"