files:
    "/etc/php.d/z99uploadsize.ini":
        mode: "000644"
        owner: root
        group: root
        content: |
            upload_max_filesize = 128M
            post_max_size = 256M
            max_file_uploads = 32
            max_execution_time = 600
            memory_limit = 2048M
            max_input_time = 600
            LIBXML_PARSEHUGE = 1
commands:
    remove_old_ini:
        command: "rm -f /etc/php.d/z99uploadsize.ini.bak"
