files:
    "/etc/php.d/z99uploadsize.ini":
        mode: "000644"
        owner: root
        group: root
        content: |
            upload_max_filesize = 128M
            post_max_size = 256M
            max_file_uploads = 32
            max_execution_time = 600
            memory_limit = 2048M
            max_input_time = 600
            LIBXML_PARSEHUGE = 1
            opcache.enable = 1
            opcache.memory_consumption = 256
            opcache.interned_strings_buffer = 16
            opcache.max_accelerated_files = 20000
            opcache.revalidate_freq = 5
            opcache.fast_shutdown = 1
            realpath_cache_size = 4096K
            realpath_cache_ttl = 600
commands:
    remove_old_ini:
        command: "rm -f /etc/php.d/z99uploadsize.ini.bak"
    restart_php_fpm:
        command: "sudo systemctl restart php-fpm"
        ignoreErrors: true
