commands:
  01_remove_old_config:
    command: "if [ -f /etc/php.d/98_zip.ini.bak ]; then rm -f /etc/php.d/98_zip.ini.bak; fi"
  02_install_libzip:
    command: "if ! rpm -q libzip libzip-devel > /dev/null; then sudo dnf -y install libzip libzip-devel; fi"
  03_install_zip:
    command: "if ! pecl list | grep -q zip; then sudo pecl upgrade zip && sudo touch /.installed-zip; fi"
    test: test ! -f /.installed-zip
