commands:
  01-download-libsodium:
    cwd: /tmp
    command: wget https://download.libsodium.org/libsodium/releases/LATEST.tar.gz
    test: test ! -f /.installed-sodium
  02-extract-libsodium:
    cwd: /tmp
    command: tar -xvzf LATEST.tar.gz
    test: test ! -f /.installed-sodium
  02a-create-symlink:
    cwd: /tmp
    command: ln -sf libsodium-* libsodium-stable
    test: test ! -f /.installed-sodium
  03-configure-libsodium:
    cwd: /tmp/libsodium-stable
    command: ./configure
    test: test ! -f /.installed-sodium
  04-make-libsodium:
    cwd: /tmp/libsodium-stable
    command: make && make check
    test: test ! -f /.installed-sodium
  05-install-libsodium:
    cwd: /tmp/libsodium-stable
    command: sudo make install && sudo ldconfig
    test: test ! -f /.installed-sodium
  06-check-php-sodium:
    command: |
      if php -m | grep -q sodium; then
        echo "Sodium extension already available"
        sudo touch /.installed-sodium
      else
        sudo pecl install -f libsodium
        sudo touch /.installed-sodium
      fi
    test: test ! -f /.installed-sodium
