commands:
    01_add_mssql_repo:
        command: |
            if [ ! -f /.added_mssql_odbc_repo ]; then
                curl -s https://packages.microsoft.com/config/rhel/9/prod.repo | sudo tee /etc/yum.repos.d/mssql-release.repo > /dev/null
                sudo touch /.added_mssql_odbc_repo
            fi
        test: test ! -f /.added_mssql_odbc_repo
        ignoreErrors: true

    02_remove_utf16_odbc:
        command: |
            if [ ! -f /.removed_unix_odbc_utf16 ]; then
                sudo yum remove -y unixODBC-utf16 unixODBC-utf16-devel 2>/dev/null || true
                sudo touch /.removed_unix_odbc_utf16
            fi
        test: test ! -f /.removed_unix_odbc_utf16
        ignoreErrors: true

    03_install_msodbcsql17:
        command: |
            if [ ! -f /.installed_msodbcsql17 ]; then
                sudo ACCEPT_EULA=Y yum install -y msodbcsql17
                sudo touch /.installed_msodbcsql17
            fi
        test: test ! -f /.installed_msodbcsql17

    04_install_unixodbc_devel:
        command: |
            if [ ! -f /.installed_unixodbc_devel ]; then
                sudo yum install -y unixODBC-devel
                sudo touch /.installed_unixodbc_devel
            fi
        test: test ! -f /.installed_unixodbc_devel
