@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
    /* text-4xl = 3rem = 48px */
    h1 {
        @apply text-5xl font-heading leading-[110%]
    }

    /* text-[2rem] = 2rem = 32px */
    h2 {
        @apply text-[2rem] font-heading leading-[120%]
    }

    /* text-2xl = 1.5rem = 24px */
    h3 {
        @apply text-2xl font-heading leading-[125%]
    }

    /* text-xl = 1.25rem = 20px */
    h4 {
        @apply text-xl font-heading leading-[140%]
    }

    /* text-base = 1rem = 16px */
    h5 {
        @apply text-base
    }

    /* text-base = 0.75rem = 12px */
    h6 {
        @apply text-xs
    }

    /* text-sm = 0.875rem = 14px */
    p {
        @apply text-sm
    }
}
